@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.error {
    position: relative;
    text-align: center;
    justify-content: space-evenly;
    width: auto;

	@include prim-on-sec;
	&__h1 {
		font-style: normal;
		font-weight: 700;
		font-size: 288px;
		line-height: 142.6%;
		margin: 0;
		@include mobile-800 {
			font-weight: 700;
			font-size: 96px;
		}
	}

	&__p {
		font-style: normal;
		font-weight: 500;
		font-size: 36px;
		line-height: 142.6%;
		text-align: center;
		@include mobile-800 {
			font-weight: 500;
			font-size: 18px;
		}
	}

	&__link {
		text-decoration: underline;
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 142.6%;
		@include mobile-800 {
			font-weight: 500;
			font-size: 14px;
		}
	}
}