@import "../utils/variables.scss";
@import "../utils/mixins.scss";

body {
    margin: 0;
    font-family: 'Montserrat', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
      'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.container {
	margin-left: $body-sides;
	margin-right: $body-sides;
	height: auto;
	flex-direction: column;
	display: flex;
	align-items: center;
	@include mobile-800 {
		margin: 0 $body-sides-S;
	}
}

#root {
    height: 100%;
    position: absolute;
    width: 100%;
}

li {
    list-style-type: none;
    margin: 5px;
}

ul {
    padding: 0;
}
  
a {
    color: $colour-primary;
    text-decoration: none;
}