body {
    margin: 0;
    font-family: 'Montserrat', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
      'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
    align-items: center;
    text-align: center;
}

#root {
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    position: absolute;
    width: 100%;
}

li {
    list-style-type: none;
    margin: 5px;
}

ul {
    padding: 0;
}
  
a {
    color: $colour-primary;
    text-decoration: none;
}