// Colors
$colour-primary: #ff6060;
$colour-secondary: white;
$background-grey: #f7f7f7;

//heights and width
$header-height: 68px;

$homeImage-height: 180px;

//margins and paddings
$body-top: 30px;
$body-sides: 100px;
$body-bottom: 30px;

$body-sides-S: 20px;

$homeImage-bootom-margin: 30px;

//radius
$homeImage-radius: 25px;