// Colors
$colour-primary: #ff6060;
$colour-secondary: white;
$background-grey: #f7f7f7;

//heights and width
$header-height: 68px;
$footer-height: 150px;

$homeImage-height: 180px;

$dropdown-title-height: 47px;
$dropdown-title-height-S: 30px;

$logdingCard-size: 340px;
$logdingCard-size-S: 255px;

//margins and paddings
$body-top: 30px;
$body-sides: 100px;
$body-bottom: 30px;

$body-sides-S: 20px;

$homeImage-bootom-margin: 30px;

$dropdown-margin: 18px;

//radius
$homeImage-radius: 25px;
$dropdown-radius: 5px;
$logdingCard-radius: 10px;
