@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.carroussel {
	width: 100%;
	display: flex;

	&__button {
		cursor: pointer;
		position: absolute;
		top: calc(0.64 * $carroussel-height);
		transform: scale(0.8);
		@include mobile-800 {
			top: calc(0.7 * $carroussel-height-S);
			transform: scale(0.32);
		}
	}
	&__container {
		height: $carroussel-height;
		width: 100%;
		@include mobile-800 {
			height: $carroussel-height-S;
		}
		&__picture {
			display: none;
			&__active {
				object-fit: cover;
				width: 100%;
				height: 100%;
				border-radius: 25px;
			}
		}
	}
}
#next {
	right: $carroussel-arrows-margin;
	@include mobile-800 {
		right: $carroussel-arrows-margin-S;
	}
}

#prev {
	left: $carroussel-arrows-margin;
	@include mobile-800 {
		left: $carroussel-arrows-margin-S;
	}
}