@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.dropdown {
	width: 100%;
	height: auto;
	margin-bottom: 15px;
	&__title {
		position: relative;
		z-index: 2;
		@include sec-on-prim;
		border-radius: 10px;
		height: $dropdown-title-height;
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include mobile-800 {
			border-radius: 5px;
			height: $dropdown-title-height-S;
		}

		&__title {
			margin-left: $dropdown-margin;
			font-weight: 500;
			font-size: 24px;
			@include mobile-800 {
				font-size: 13px;
			}
		}
		&__arrow {
			margin-right: $dropdown-margin;
			@include mobile-800 {
				transform: scale(0.7);
			}
		}
	}
	&__pannel {
		position: relative;
		z-index: 1;
		@include prim-on-grey;
		margin-top: -15px;
		padding-top: 15px;
		padding-bottom: 10px;
		padding-left: $dropdown-margin;
		padding-right: $dropdown-margin;
		font-weight: 400;
		font-size: 24px;
		line-height: 142.6%;
		text-justify: distribute;
		border-radius: 10px;
		@include mobile-800 {
			font-weight: 400;
			font-size: 12px;
			border-radius: 5px;
			line-height: 142.6%;
			padding-bottom: 5px;
		}
	}
}

.down {
	transform: rotate(180deg);
	@include mobile-800 {
		transform: rotate(180deg) scale(0.7);
	}
}